*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.textbox{
    /* margin-top: 3em; */
    border: 3px solid blueviolet;
    margin: 40px 0px 0px;
    width: 70rem;
    margin-top: 1em;
    height: 13rem;
    padding: 1.5em;
    border-radius: 10%;
}
.constructure1{
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttondiv{
    margin-top: 1.5em;
    /* border: 2px solid red; */
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.buttondiv .btn{
    align-items: center;
    width: 10em;
    height: 3em;
    margin: 0 3em;
    border: 3px solid black;
    background-color: blueviolet;
    color: antiquewhite;
}
h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 5rem;
    color: blueviolet;
}
.foot1{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#para{
    /* border: 3px solid red; */
    width: auto;
    height: auto;
    background-color: blanchedalmond;
}

@media(max-width:1250px) {
    .textbox{
      width: 50vw;
      height: 12vh;
    }
    .buttondiv .btn{
        margin: 0 0.5em;
    }
    h2{
        font-size: 3rem;
    }
  }
  @media(max-width:880px) {
    .textbox{
      width: 50vw;
      height: 12vh;
    }
    .buttondiv .btn{
        margin: 0 0.1em;
        flex-direction: column;
    }
    h2{
        margin-top: 5em;
        font-size: 1rem;
    }
    h4{
        font-size: 1em;
    }

  }